# World Modeler Dec 2020 Dataset Overview

In [4]:
from pathlib import Path
import papermill as pm
from requests import get, post, put

WM_DATAMART_URL = 'https://datamart:datamart-api-789@dsbox02.isi.edu:8888/datamart-api-wm'
WM_TEST_URL = 'https://datamart:datamart-api-789@dsbox02.isi.edu:8888/datamart-api-d3m'
WM_TEST_INTERNAL_URL = 'http://dsbox01.isi.edu:12543'
LOCAL_URL = 'http://localhost:12543'

username = None
password = None

In [9]:
# Datamart URL
datamart_api_url = WM_TEST_URL

In [24]:
import pandas as pd
from utils import spreadsheet, utility, upload, erase, template, get_, plot_
%matplotlib inline

In [15]:
current_datasets = ['WFP_Food_Prices', 'TerraClimatePrecipitation', 'Kimetrica_Price_Data',
                   'TerraClimateET', 'TerraClimateMinTemp', 'TerraClimateMaxTemp', 'TerraClimateSoilMoisture',
                   'TerraClimatePDSI', 'MERRA2 Re-analysis', 'FAOSTAT1', 'FAOSTAT0', 'FAO_Locust_Swarms', 
                   'FAO_Locust_Control', 'FAO_Locust_Adults', 'FAOSTAT', 'CHIRPS', 'ERA5', 'IHME_Wasting_Data',
                   'ACLED', 'ETH-CENSUS', 'DHS_Nutrition', 'ETH-CROP', 'Kimetrica_Ethiopia_Crop_Production']
metadata = get_.metadata(datamart_api_url)

## Newly added datasets

In [17]:
datasets = set(metadata['dataset_id'])
new_datasets = set(datasets) - set(current_datasets)
print('Newly added datasets:', new_datasets)

Newly added datasets: set()

## Dataset Metadata

In [18]:
display(metadata)

,name,description,url,dataset_id,last_update,last_update_precision
0,WFP_Food_Prices,United Nations Word Food Programme \u2013 Food...,https://www.wfp.org/,WFP_Food_Prices,2020-11-26T03:14:36,14
1,Kimetrica_Price_Data,This dataset was cleaned and consolidated by K...,https://data.kimetrica.com/dataset,Kimetrica_Price_Data,2020-11-26T05:26:53,14
2,TerraClimateET,TerraClimate is a dataset of monthly climate a...,https://app.climateengine.org,TerraClimateET,2020-11-26T05:18:44,14
3,TerraClimateMaxTemp,TerraClimate is a dataset of monthly climate a...,https://app.climateengine.org,TerraClimateMaxTemp,2020-11-26T05:19:34,14
4,TerraClimateMinTemp,TerraClimate is a dataset of monthly climate a...,https://app.climateengine.org,TerraClimateMinTemp,2020-11-26T05:20:21,14
5,TerraClimatePrecipitation,TerraClimate is a dataset of monthly climate a...,https://app.climateengine.org,TerraClimatePrecipitation,2020-11-26T05:21:09,14
6,TerraClimatePDSI,TerraClimate is a dataset of monthly climate a...,https://app.climateengine.org,TerraClimatePDSI,2020-11-26T05:21:55,14
7,TerraClimateSoilMoisture,TerraClimate is a dataset of monthly climate a...,https://app.climateengine.org,TerraClimateSoilMoisture,2020-11-26T05:22:32,14
8,FAO_Locust_Swarms,"Data from the FAO Locust Hub, about coordinate...",https://locust-hub-hqfao.hub.arcgis.com/,FAO_Locust_Swarms,2020-11-26T05:31:28,14
9,FAO_Locust_Control,"Data from the FAO Locust Hub, about coordinate...",https://locust-hub-hqfao.hub.arcgis.com/,FAO_Locust_Control,2020-11-26T05:37:02,14
10,FAO_Locust_Adults,"Data from the FAO Locust Hub, about coordinate...",https://locust-hub-hqfao.hub.arcgis.com/,FAO_Locust_Adults,2020-11-26T05:42:18,14
11,Food and Agriculture Organization Corporate St...,Food and agriculture data. FAOSTAT provides fr...,www.fao.org/faostat/en/,FAOSTAT,2020-11-25T20:44:48,14
12,CHIRPS,Climate Hazards Group InfraRed Precipitation w...,http://climateengine.org/,CHIRPS,2020-11-26T03:47:53,14
13,Food and Agriculture Organization Corporate St...,Food and agriculture data. FAOSTAT provides fr...,www.fao.org/faostat/en/,FAOSTAT1,2020-11-26T07:09:33,14
14,MERRA2 Re-analysis,Modern-Era Retrospective analysis for Research...,https://app.climateengine.org,MERRA2 Re-analysis,2020-11-26T04:05:52,14
15,Food and Agriculture Organization Corporate St...,Food and agriculture data. FAOSTAT provides fr...,www.fao.org/faostat/en/,FAOSTAT0,2020-11-29T19:42:24,14
16,ERA5,ERA5 Re-analysis is the latest climate reanaly...,https://app.climateengine.org,ERA5,2020-11-26T02:57:49,14
17,IHME_Wasting_Data,IHME Estimated Wasting Prevalence\u00a0(GAM) O...,https://cloud.ihme.washington.edu/index.php/s/...,IHME_Wasting_Data,2020-11-26T03:10:48,14
18,ACLED,The Armed Conflict Location & Event Data (ACLE...,https://acleddata.com/,ACLED,2020-11-26T09:13:04,14
19,DHS_Nutrition,Demographic and Health Surveys (DHS) Survey Nu...,https://www.dhsprogram.com/topics/Nutrition/,DHS_Nutrition,2020-11-26T03:07:47,14
20,Kimetrica_Ethiopia_Crop_Production,Kimetrica cleaned and compiled crop production...,Project restricted/ no publicly available link,Kimetrica_Ethiopia_Crop_Production,2020-11-26T08:39:09,14
21,Ethiopia Crop Yield,Ethiopian Crop Yield at the region level. Crop...,www.csa.gov.et,ETH-CROP,2020-11-26T09:11:33,14
22,2007 Population Housing Census Atlas \u2013 Po...,2007 Population Housing Census Atlas \u2013 Po...,www.csa.gov.et,ETH-CENSUS,2020-11-26T08:38:12,14

## Variable Metadata

In [21]:
variable_metadata = {}
for dataset_id in metadata['dataset_id']:
    result = get_.variable_metadata(datamart_api_url, dataset_id)
    if result is None:
        print('Error: getting variable metadata:', dataset_id)
    else:
        variable_metadata[dataset_id] = result

In [34]:
var_count = []
for dataset_id, vmetadata in variable_metadata.items():
    var_count.append({'dataset_id': dataset_id, 'num_variables': vmetadata.shape[0]})
display(pd.DataFrame(var_count))

                            dataset_id  num_variables
0                      WFP_Food_Prices              1
1                 Kimetrica_Price_Data              1
2                       TerraClimateET              1
3                  TerraClimateMaxTemp              1
4                  TerraClimateMinTemp              1
5            TerraClimatePrecipitation              1
6                     TerraClimatePDSI              1
7             TerraClimateSoilMoisture              1
8                    FAO_Locust_Swarms              3
9                   FAO_Locust_Control              3
10                   FAO_Locust_Adults              3
11                             FAOSTAT              0
12                              CHIRPS              1
13                            FAOSTAT1            169
14                  MERRA2 Re-analysis              1
15                            FAOSTAT0             71
16                                ERA5              1
17                   IHME_Wasting_Data              4
18                               ACLED              1
19                       DHS_Nutrition              4
20  Kimetrica_Ethiopia_Crop_Production              4
21                            ETH-CROP              3
22                          ETH-CENSUS              8

In [32]:
for dataset_id, vmetadata in variable_metadata.items():
    print(dataset_id)
    display(vmetadata)

WFP_Food_Prices

,name,variable_id,description,corresponds_to_property,qualifier
0,price,price,Food price,PVARIABLE-QWFP_Food_Prices-005,"[{'name': 'mktname', 'identifier': 'PQUALIFIER..."

Kimetrica_Price_Data

,name,variable_id,description,corresponds_to_property,qualifier
0,Price,price,variable column in QKimetrica_Price_Data,PVARIABLE-QKimetrica_Price_Data-006,"[{'name': 'Datasource', 'identifier': 'PQUALIF..."

TerraClimateET

,name,variable_id,description,corresponds_to_property,qualifier
0,Actual ET,actual_et,Actual evapotranspiration is the quantity of w...,PVARIABLE-QTerraClimateET-003,[{'name': 'located in the administrative terri...

TerraClimateMaxTemp

,name,variable_id,description,corresponds_to_property,qualifier
0,Max Temperature,max_temperature,Maximum temperature (from TerraClimate),PVARIABLE-QTerraClimateMaxTemp-003,[{'name': 'located in the administrative terri...

TerraClimateMinTemp

,name,variable_id,description,corresponds_to_property,qualifier
0,Min Temperature,min_temperature,Minimum temperature (from TerraClimate),PVARIABLE-QTerraClimateMinTemp-003,[{'name': 'located in the administrative terri...

TerraClimatePrecipitation

,name,variable_id,description,corresponds_to_property,qualifier
0,Precipitation,precipitation,Precipitation in millimeters (from TerraClimate),PVARIABLE-QTerraClimatePrecipitation-003,[{'name': 'located in the administrative terri...

TerraClimatePDSI

,name,variable_id,description,corresponds_to_property,qualifier
0,PDSI,pdsi,Palmer Drought Severity Index (from TerraClima...,PVARIABLE-QTerraClimatePDSI-003,[{'name': 'located in the administrative terri...

TerraClimateSoilMoisture

,name,variable_id,description,corresponds_to_property,qualifier
0,Soil Moisture,soil_moisture,Soil moisture (from TerraClimate),PVARIABLE-QTerraClimateSoilMoisture-003,[{'name': 'located in the administrative terri...

FAO_Locust_Swarms

,name,variable_id,description,corresponds_to_property,qualifier
0,AREAHA,areaha,Surveyed area,PVARIABLE-QFAO_Locust_Swarms-004,"[{'name': 'CTLPESTIC', 'identifier': 'PQUALIFI..."
1,CTLARTREA,ctlartrea,"Control area treated, in hectares.",PVARIABLE-QFAO_Locust_Swarms-011,"[{'name': 'CTLPESTIC', 'identifier': 'PQUALIFI..."
2,CTLESTKILL,ctlestkill,Estimated kill (as a percentage) using the con...,PVARIABLE-QFAO_Locust_Swarms-012,"[{'name': 'CTLPESTIC', 'identifier': 'PQUALIFI..."

FAO_Locust_Control

,name,variable_id,description,corresponds_to_property,qualifier
0,AREAHA,areaha,Surveyed area,PVARIABLE-QFAO_Locust_Control-005,"[{'name': 'CTLPESTIC', 'identifier': 'PQUALIFI..."
1,CTLARTREA,ctlartrea,"Control area treated, in hectares.",PVARIABLE-QFAO_Locust_Control-012,"[{'name': 'CTLPESTIC', 'identifier': 'PQUALIFI..."
2,CTLESTKILL,ctlestkill,Estimated kill (as a percentage) using the con...,PVARIABLE-QFAO_Locust_Control-013,"[{'name': 'CTLPESTIC', 'identifier': 'PQUALIFI..."

FAO_Locust_Adults

,name,variable_id,description,corresponds_to_property,qualifier
0,AREAHA,areaha,Surveyed area,PVARIABLE-QFAO_Locust_Adults-004,"[{'name': 'CTLPESTIC', 'identifier': 'PQUALIFI..."
1,CTLARTREA,ctlartrea,"Control area treated, in hectares.",PVARIABLE-QFAO_Locust_Adults-011,"[{'name': 'CTLPESTIC', 'identifier': 'PQUALIFI..."
2,CTLESTKILL,ctlestkill,Estimated kill (as a percentage) using the con...,PVARIABLE-QFAO_Locust_Adults-012,"[{'name': 'CTLPESTIC', 'identifier': 'PQUALIFI..."

FAOSTAT

Empty DataFrame
Columns: []
Index: []

CHIRPS

,name,variable_id,description,corresponds_to_property,qualifier
0,Precipitation,precipitation,"Precipitation, in millimeters (mm)",PVARIABLE-QCHIRPS-003,[{'name': 'located in the administrative terri...

FAOSTAT1

,name,variable_id,description,corresponds_to_property,qualifier,tag
0,Emissions_Land_Use_Land_Use_Total_Net emission...,net_emissions_removals_co2,Land Use Total contains all GHG emissions and ...,PVARIABLE-QFAOSTAT1-002,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
1,Emissions_Land_Use_Land_Use_Total_Net emission...,net_emissions_removals_co2eq,Land Use Total contains all GHG emissions and ...,PVARIABLE-QFAOSTAT1-003,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
2,Emissions_Land_Use_Land_Use_Total_Emissions (C...,emissions_co2eq_from_n2o,Land Use Total contains all GHG emissions and ...,PVARIABLE-QFAOSTAT1-004,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
3,Emissions_Land_Use_Land_Use_Total_Emissions (C...,emissions_co2eq_from_ch4,Land Use Total contains all GHG emissions and ...,PVARIABLE-QFAOSTAT1-005,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
4,Environment_Emissions_by_Sector_Share of total...,share_of_total_emissions_sar,The FAOSTAT Emissions shares domain of FAOSTAT...,PVARIABLE-QFAOSTAT1-006,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
...,...,...,...,...,...,...
164,Emissions_Agriculture_Manure_left_on_pasture_D...,direct_emissions_co2eq_manure_on_pasture,GHG emissions from manure left on pastures con...,PVARIABLE-QFAOSTAT1-166,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
165,Emissions_Agriculture_Manure_left_on_pasture_I...,indirect_emissions_n2o_manure_on_pasture,GHG emissions from manure left on pastures con...,PVARIABLE-QFAOSTAT1-167,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
166,Emissions_Agriculture_Manure_left_on_pasture_I...,indirect_emissions_co2eq_manure_on_pasture,GHG emissions from manure left on pastures con...,PVARIABLE-QFAOSTAT1-168,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
167,Emissions_Agriculture_Manure_left_on_pasture_E...,emissions_n2o_manure_on_pasture,GHG emissions from manure left on pastures con...,PVARIABLE-QFAOSTAT1-169,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
168,Emissions_Agriculture_Manure_left_on_pasture_E...,emissions_co2eq_manure_on_pasture,GHG emissions from manure left on pastures con...,PVARIABLE-QFAOSTAT1-170,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...

MERRA2 Re-analysis

,name,variable_id,description,corresponds_to_property,qualifier
0,Precipitation,precipitation,Precipitation (from MERRA2),PVARIABLE-QMERRA2 Re-analysis-003,[{'name': 'located in the administrative terri...

FAOSTAT0

,name,variable_id,description,corresponds_to_property,qualifier,tag
0,Investment_CapitalStock_Value Local Currency,value_local_currency,As part of the FAO Agriculture Capital Stock (...,PVARIABLE-QFAOSTAT0-002,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
1,Investment_CapitalStock_Value US$,value_us,As part of the FAO Agriculture Capital Stock (...,PVARIABLE-QFAOSTAT0-003,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
2,"Investment_CapitalStock_Value Local Currency, ...",value_local_currency_2010_prices,As part of the FAO Agriculture Capital Stock (...,PVARIABLE-QFAOSTAT0-004,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
3,Macro-Statistics_Key_Indicators_Value Local Cu...,value_local_currency_2015_prices,The FAOSTAT Macro Indicators database provides...,PVARIABLE-QFAOSTAT0-005,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
4,"Investment_CapitalStock_Value US$, 2010 prices",value_us_2010_prices,As part of the FAO Agriculture Capital Stock (...,PVARIABLE-QFAOSTAT0-006,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
...,...,...,...,...,...,...
66,Population_Total Population - Both sexes,total_population_both_sexes,The FAOSTAT Population module contains time se...,PVARIABLE-QFAOSTAT0-068,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
67,Population_Total Population - Male,total_population_male,The FAOSTAT Population module contains time se...,PVARIABLE-QFAOSTAT0-069,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
68,Population_Total Population - Female,total_population_female,The FAOSTAT Population module contains time se...,PVARIABLE-QFAOSTAT0-070,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
69,Population_Rural population,rural_population,The FAOSTAT Population module contains time se...,PVARIABLE-QFAOSTAT0-071,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...
70,Population_Urban population,urban_population,The FAOSTAT Population module contains time se...,PVARIABLE-QFAOSTAT0-072,[{'name': 'located in the administrative terri...,[FileLocation:http://fenixservices.fao.org/fao...

ERA5

,name,variable_id,description,corresponds_to_property,qualifier
0,Mean Temperature,mean_temperature,Mean temperature (in deg C) from ERA5,PVARIABLE-QERA5-003,[{'name': 'located in the administrative terri...

IHME_Wasting_Data

,name,variable_id,description,corresponds_to_property,qualifier
0,mean,mean,Mean wasting prevalence rate,PVARIABLE-QIHME_Wasting_Data-006,"[{'name': 'measure', 'identifier': 'PQUALIFIER..."
1,upper,upper,Upper confidence interval limit for wasting pr...,PVARIABLE-QIHME_Wasting_Data-007,"[{'name': 'measure', 'identifier': 'PQUALIFIER..."
2,lower,lower,Lower confidence interval limit for wasting pr...,PVARIABLE-QIHME_Wasting_Data-008,"[{'name': 'measure', 'identifier': 'PQUALIFIER..."
3,cirange,cirange,Confidence interval,PVARIABLE-QIHME_Wasting_Data-009,"[{'name': 'measure', 'identifier': 'PQUALIFIER..."

ACLED

,name,variable_id,description,corresponds_to_property,qualifier
0,fatalities,fatalities,Number or estimate of fatalities due to the ev...,PVARIABLE-QACLED-018,"[{'name': 'notes', 'identifier': 'PQUALIFIER-Q..."

DHS_Nutrition

,name,variable_id,description,corresponds_to_property,qualifier
0,Children severely stunted,children_severely_stunted,Percentage of children severely stunted (below...,PVARIABLE-QDHS_Nutrition-003,[{'name': 'located in the administrative terri...
1,Children stunted,children_stunted,Percentage of children stunted (below -2 SD of...,PVARIABLE-QDHS_Nutrition-004,[{'name': 'located in the administrative terri...
2,Children severely wasted,children_severely_wasted,Severe acute malnutrition (SAM) rate - percent...,PVARIABLE-QDHS_Nutrition-005,[{'name': 'located in the administrative terri...
3,Children wasted,children_wasted,Global acute malnutrition (GAM) rate - percent...,PVARIABLE-QDHS_Nutrition-006,[{'name': 'located in the administrative terri...

Kimetrica_Ethiopia_Crop_Production

,name,variable_id,description,corresponds_to_property,qualifier
0,Number of holders,number_of_holders,Count of farmers in a given area,PVARIABLE-QKimetrica_Ethiopia_Crop_Production-006,"[{'name': ' Category', 'identifier': 'PQUALIFI..."
1,Area in hectare,area_in_hectare,Crop area in hectares,PVARIABLE-QKimetrica_Ethiopia_Crop_Production-007,"[{'name': ' Category', 'identifier': 'PQUALIFI..."
2,Production in quintal,production_in_quintal,Crop production in quintals,PVARIABLE-QKimetrica_Ethiopia_Crop_Production-008,"[{'name': ' Category', 'identifier': 'PQUALIFI..."
3,Yield,yield,Crop yield,PVARIABLE-QKimetrica_Ethiopia_Crop_Production-009,"[{'name': ' Category', 'identifier': 'PQUALIFI..."

ETH-CROP

,name,variable_id,description,corresponds_to_property,qualifier
0,Total Area,total_area,Cropland Estimates for Main Season,PVARIABLE-QETH-CROP-004,"[{'name': 'Estimation_Time', 'identifier': 'PQ..."
1,Total Production,total_prod,Total Production Estimates for Main Season,PVARIABLE-QETH-CROP-005,"[{'name': 'Estimation_Time', 'identifier': 'PQ..."
2,Yield,yield,Main Season Yield Estimation,PVARIABLE-QETH-CROP-006,"[{'name': 'Estimation_Time', 'identifier': 'PQ..."

ETH-CENSUS

,name,variable_id,description,corresponds_to_property,qualifier
0,TOT_POP,tot_pop,Total Population,PVARIABLE-QETH-CENSUS-003,[{'name': 'located in the administrative terri...
1,MALE_POP,male_pop,Male Population,PVARIABLE-QETH-CENSUS-004,[{'name': 'located in the administrative terri...
2,FEMALE_POP,female_pop,Female Population,PVARIABLE-QETH-CENSUS-005,[{'name': 'located in the administrative terri...
3,SEX_RATIO,sex_ratio,Sex Ratio,PVARIABLE-QETH-CENSUS-006,[{'name': 'located in the administrative terri...
4,Fiftn_Sixy5,fiftn_sixy5,variable column in QETH-CENSUS,PVARIABLE-QETH-CENSUS-007,[{'name': 'located in the administrative terri...
5,Dep_Total,dep_total,Total Dependency,PVARIABLE-QETH-CENSUS-008,[{'name': 'located in the administrative terri...
6,DEP_RATIO,dep_ratio,Dependency Ratio,PVARIABLE-QETH-CENSUS-009,[{'name': 'located in the administrative terri...
7,POP_DENS,pop_dens,Population Density,PVARIABLE-QETH-CENSUS-010,[{'name': 'located in the administrative terri...

## Variable Canonical CSVs

In [64]:
missing_variables = []
error_getting_data = []
zero_length_data = []
for dataset_id, vmetadata in variable_metadata.items():
    if vmetadata.shape[0] == 0:
        missing_variables.append(dataset_id)
        continue
    variable_id = vmetadata.loc[0, 'variable_id']
    data = get_.variable_data(datamart_api_url, dataset_id, variable_id)
    if data is None:
        error_getting_data.append((dataset_id, variable_id))
        continue
    if data.shape[0] == 0:
        zero_length_data.append((dataset_id, variable_id))
        continue
    print(dataset_id, variable_id)
    display(data)

WFP_Food_Prices price

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,...,admin2,admin3,region_coordinate,stated_in,stated_in_id,mktname,category,cmname,location,stated in
0,Q3624,WFP_Food_Prices,price,price,Ethiopia,Q115,168.75,NaN,2000-01-15T00:00:00Z,day,...,NaN,NaN,NaN,NaN,NaN,Addis Ababa,cereals and tubers,Wheat - Wholesale,Addis Ababa,NaN
1,Q200127,WFP_Food_Prices,price,price,Ethiopia,Q115,147.75,NaN,2000-01-15T00:00:00Z,day,...,NaN,NaN,NaN,NaN,NaN,Mekele,cereals and tubers,Maize (white) - Wholesale,Tigray Region,NaN
2,Q3624,WFP_Food_Prices,price,price,Ethiopia,Q115,120.75,NaN,2000-01-15T00:00:00Z,day,...,NaN,NaN,NaN,NaN,NaN,Addis Ababa,cereals and tubers,Maize (white) - Wholesale,Addis Ababa,NaN
3,Q203009,WFP_Food_Prices,price,price,Ethiopia,Q115,115.50,NaN,2000-01-15T00:00:00Z,day,...,NaN,NaN,NaN,NaN,NaN,Baher Dar,cereals and tubers,Maize (white) - Wholesale,Amhara Region,NaN
4,NaN,WFP_Food_Prices,price,price,Ethiopia,Q115,161.75,NaN,2000-01-15T00:00:00Z,day,...,NaN,NaN,NaN,NaN,NaN,Diredawa,cereals and tubers,Maize (white) - Wholesale,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13857,Q202107,WFP_Food_Prices,price,price,Ethiopia,Q115,2880.00,NaN,2020-04-15T00:00:00Z,day,...,NaN,NaN,NaN,NaN,NaN,Assela,pulses and nuts,Beans (fava) - Wholesale,Oromia Region,NaN
13858,Q200127,WFP_Food_Prices,price,price,Ethiopia,Q115,3400.00,NaN,2020-04-15T00:00:00Z,day,...,NaN,NaN,NaN,NaN,NaN,Mekele,cereals and tubers,Teff (Sergegna) - Wholesale,Tigray Region,NaN
13859,NaN,WFP_Food_Prices,price,price,Ethiopia,Q115,3030.00,NaN,2020-04-15T00:00:00Z,day,...,NaN,NaN,NaN,NaN,NaN,Diredawa,pulses and nuts,Beans (fava) - Wholesale,NaN,NaN
13860,Q3624,WFP_Food_Prices,price,price,Ethiopia,Q115,1685.00,NaN,2020-04-15T00:00:00Z,day,...,NaN,NaN,NaN,NaN,NaN,Addis Ababa,cereals and tubers,Wheat (white) - Wholesale,Addis Ababa,NaN
13861,Q203009,WFP_Food_Prices,price,price,Ethiopia,Q115,2750.00,NaN,2020-04-15T00:00:00Z,day,...,NaN,NaN,NaN,NaN,NaN,Dessie,cereals and tubers,Teff (red) - Wholesale,Amhara Region,NaN

Kimetrica_Price_Data price

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,...,admin3,region_coordinate,stated_in,stated_in_id,Datasource,Price_Type,Commodity,Market,location,stated in
0,Q203009,Kimetrica_Price_Data,price,Price,Ethiopia,Q115,14.30,ETB/KG,2014-01-01T00:00:00Z,month,...,NaN,NaN,NaN,NaN,WFP,Retail,Lentils,Sekota,Amhara Region,NaN
1,Q200127,Kimetrica_Price_Data,price,Price,Ethiopia,Q115,7.47,ETB/KG,2014-01-01T00:00:00Z,month,...,NaN,NaN,NaN,NaN,WFP,Retail,Wheat,Adwa,Tigray Region,NaN
2,Q203009,Kimetrica_Price_Data,price,Price,Ethiopia,Q115,8.50,ETB/KG,2014-01-01T00:00:00Z,month,...,NaN,NaN,NaN,NaN,WFP,Retail,Wheat,Debark,Amhara Region,NaN
3,Q203009,Kimetrica_Price_Data,price,Price,Ethiopia,Q115,9.50,ETB/KG,2014-01-01T00:00:00Z,month,...,NaN,NaN,NaN,NaN,WFP,Retail,"Peas (green, dry)",Kobo,Amhara Region,NaN
4,Q203009,Kimetrica_Price_Data,price,Price,Ethiopia,Q115,5.00,ETB/KG,2014-01-01T00:00:00Z,month,...,NaN,NaN,NaN,NaN,WFP,Retail,Maize (white),Abomsa,Amhara Region,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2470,Q202107,Kimetrica_Price_Data,price,Price,Ethiopia,Q115,12.00,ETB/KG,2017-07-01T00:00:00Z,month,...,NaN,NaN,NaN,NaN,WFP,Retail,Wheat,Yabelo,Oromia Region,NaN
2471,Q200127,Kimetrica_Price_Data,price,Price,Ethiopia,Q115,9.00,ETB/KG,2017-07-01T00:00:00Z,month,...,NaN,NaN,NaN,NaN,WFP,Retail,Maize (white),Adwa,Tigray Region,NaN
2472,Q202800,Kimetrica_Price_Data,price,Price,Ethiopia,Q115,650.00,ETB/Head,2017-07-01T00:00:00Z,month,...,NaN,NaN,NaN,NaN,WFP,Retail,Livestock (Goat),Gode,Somali Region,NaN
2473,Q202800,Kimetrica_Price_Data,price,Price,Ethiopia,Q115,22.00,ETB/KG,2017-07-01T00:00:00Z,month,...,NaN,NaN,NaN,NaN,WFP,Retail,Sugar,Jijiga,Somali Region,NaN
2474,Q202800,Kimetrica_Price_Data,price,Price,Ethiopia,Q115,30.00,ETB/L,2017-07-01T00:00:00Z,month,...,NaN,NaN,NaN,NaN,WFP,Retail,Milk,Jijiga,Somali Region,NaN

TerraClimateET actual_et

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,country_id,admin1,admin2,admin3,region_coordinate,stated_in,stated_in_id,location,stated in
0,Q115,TerraClimateET,actual_et,Actual ET,Ethiopia,Q115,41.9780,mm,1958-01-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
1,Q115,TerraClimateET,actual_et,Actual ET,Ethiopia,Q115,44.0476,mm,1958-02-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
2,Q115,TerraClimateET,actual_et,Actual ET,Ethiopia,Q115,31.8470,mm,1958-03-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
3,Q115,TerraClimateET,actual_et,Actual ET,Ethiopia,Q115,67.7113,mm,1958-04-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
4,Q115,TerraClimateET,actual_et,Actual ET,Ethiopia,Q115,42.7885,mm,1958-05-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483,Q202107,TerraClimateET,actual_et,Actual ET,Oromia Region,Q202107,54.4306,mm,2019-08-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1484,Q202107,TerraClimateET,actual_et,Actual ET,Oromia Region,Q202107,21.2029,mm,2019-09-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1485,Q202107,TerraClimateET,actual_et,Actual ET,Oromia Region,Q202107,26.3416,mm,2019-10-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1486,Q202107,TerraClimateET,actual_et,Actual ET,Oromia Region,Q202107,28.8029,mm,2019-11-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1487,Q202107,TerraClimateET,actual_et,Actual ET,Oromia Region,Q202107,4.6195,mm,2019-12-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN

TerraClimateMaxTemp max_temperature

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,country_id,admin1,admin2,admin3,region_coordinate,stated_in,stated_in_id,location,stated in
0,Q115,TerraClimateMaxTemp,max_temperature,Max Temperature,Ethiopia,Q115,29.9700,deg C,1958-01-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
1,Q115,TerraClimateMaxTemp,max_temperature,Max Temperature,Ethiopia,Q115,29.5000,deg C,1958-02-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
2,Q115,TerraClimateMaxTemp,max_temperature,Max Temperature,Ethiopia,Q115,32.8100,deg C,1958-03-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
3,Q115,TerraClimateMaxTemp,max_temperature,Max Temperature,Ethiopia,Q115,31.7600,deg C,1958-04-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
4,Q115,TerraClimateMaxTemp,max_temperature,Max Temperature,Ethiopia,Q115,31.9800,deg C,1958-05-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483,Q202107,TerraClimateMaxTemp,max_temperature,Max Temperature,Oromia Region,Q202107,37.7265,deg C,2019-08-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1484,Q202107,TerraClimateMaxTemp,max_temperature,Max Temperature,Oromia Region,Q202107,38.1058,deg C,2019-09-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1485,Q202107,TerraClimateMaxTemp,max_temperature,Max Temperature,Oromia Region,Q202107,35.1076,deg C,2019-10-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1486,Q202107,TerraClimateMaxTemp,max_temperature,Max Temperature,Oromia Region,Q202107,34.3512,deg C,2019-11-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1487,Q202107,TerraClimateMaxTemp,max_temperature,Max Temperature,Oromia Region,Q202107,33.0313,deg C,2019-12-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN

TerraClimateMinTemp min_temperature

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,country_id,admin1,admin2,admin3,region_coordinate,stated_in,stated_in_id,location,stated in
0,Q115,TerraClimateMinTemp,min_temperature,Min Temperature,Ethiopia,Q115,14.7547,deg C,1958-01-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
1,Q115,TerraClimateMinTemp,min_temperature,Min Temperature,Ethiopia,Q115,14.9590,deg C,1958-02-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
2,Q115,TerraClimateMinTemp,min_temperature,Min Temperature,Ethiopia,Q115,15.9197,deg C,1958-03-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
3,Q115,TerraClimateMinTemp,min_temperature,Min Temperature,Ethiopia,Q115,17.1400,deg C,1958-04-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
4,Q115,TerraClimateMinTemp,min_temperature,Min Temperature,Ethiopia,Q115,16.9980,deg C,1958-05-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483,Q202107,TerraClimateMinTemp,min_temperature,Min Temperature,Oromia Region,Q202107,25.5215,deg C,2019-08-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1484,Q202107,TerraClimateMinTemp,min_temperature,Min Temperature,Oromia Region,Q202107,25.9575,deg C,2019-09-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1485,Q202107,TerraClimateMinTemp,min_temperature,Min Temperature,Oromia Region,Q202107,22.1814,deg C,2019-10-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1486,Q202107,TerraClimateMinTemp,min_temperature,Min Temperature,Oromia Region,Q202107,21.0040,deg C,2019-11-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1487,Q202107,TerraClimateMinTemp,min_temperature,Min Temperature,Oromia Region,Q202107,20.3797,deg C,2019-12-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN

TerraClimatePrecipitation precipitation

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,country_id,admin1,admin2,admin3,region_coordinate,stated_in,stated_in_id,location,stated in
0,Q115,TerraClimatePrecipitation,precipitation,Precipitation,Ethiopia,Q115,41.9577,mm,1979-01-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
1,Q115,TerraClimatePrecipitation,precipitation,Precipitation,Ethiopia,Q115,25.5461,mm,1979-02-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
2,Q115,TerraClimatePrecipitation,precipitation,Precipitation,Ethiopia,Q115,51.7860,mm,1979-03-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
3,Q115,TerraClimatePrecipitation,precipitation,Precipitation,Ethiopia,Q115,54.9194,mm,1979-04-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
4,Q115,TerraClimatePrecipitation,precipitation,Precipitation,Ethiopia,Q115,96.6187,mm,1979-05-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1231,Q202107,TerraClimatePrecipitation,precipitation,Precipitation,Oromia Region,Q202107,61.3400,mm,2019-08-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1232,Q202107,TerraClimatePrecipitation,precipitation,Precipitation,Oromia Region,Q202107,21.1215,mm,2019-09-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1233,Q202107,TerraClimatePrecipitation,precipitation,Precipitation,Oromia Region,Q202107,27.4901,mm,2019-10-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1234,Q202107,TerraClimatePrecipitation,precipitation,Precipitation,Oromia Region,Q202107,30.2587,mm,2019-11-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1235,Q202107,TerraClimatePrecipitation,precipitation,Precipitation,Oromia Region,Q202107,4.8074,mm,2019-12-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN

TerraClimatePDSI pdsi

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,country_id,admin1,admin2,admin3,region_coordinate,stated_in,stated_in_id,location,stated in
0,Q115,TerraClimatePDSI,pdsi,PDSI,Ethiopia,Q115,0.6050,NaN,1958-01-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
1,Q115,TerraClimatePDSI,pdsi,PDSI,Ethiopia,Q115,1.0097,NaN,1958-02-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
2,Q115,TerraClimatePDSI,pdsi,PDSI,Ethiopia,Q115,0.4197,NaN,1958-03-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
3,Q115,TerraClimatePDSI,pdsi,PDSI,Ethiopia,Q115,0.0516,NaN,1958-04-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
4,Q115,TerraClimatePDSI,pdsi,PDSI,Ethiopia,Q115,-1.3718,NaN,1958-05-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483,Q202107,TerraClimatePDSI,pdsi,PDSI,Oromia Region,Q202107,-2.9715,NaN,2019-08-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1484,Q202107,TerraClimatePDSI,pdsi,PDSI,Oromia Region,Q202107,-3.2966,NaN,2019-09-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1485,Q202107,TerraClimatePDSI,pdsi,PDSI,Oromia Region,Q202107,-1.7896,NaN,2019-10-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1486,Q202107,TerraClimatePDSI,pdsi,PDSI,Oromia Region,Q202107,-0.9493,NaN,2019-11-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1487,Q202107,TerraClimatePDSI,pdsi,PDSI,Oromia Region,Q202107,-1.1643,NaN,2019-12-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN

TerraClimateSoilMoisture soil_moisture

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,country_id,admin1,admin2,admin3,region_coordinate,stated_in,stated_in_id,location,stated in
0,Q115,TerraClimateSoilMoisture,soil_moisture,Soil Moisture,Ethiopia,Q115,24.7936,mm,1958-01-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
1,Q115,TerraClimateSoilMoisture,soil_moisture,Soil Moisture,Ethiopia,Q115,21.0270,mm,1958-02-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
2,Q115,TerraClimateSoilMoisture,soil_moisture,Soil Moisture,Ethiopia,Q115,17.3754,mm,1958-03-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
3,Q115,TerraClimateSoilMoisture,soil_moisture,Soil Moisture,Ethiopia,Q115,20.9339,mm,1958-04-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
4,Q115,TerraClimateSoilMoisture,soil_moisture,Soil Moisture,Ethiopia,Q115,20.9060,mm,1958-05-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,Q115,TerraClimateSoilMoisture,soil_moisture,Soil Moisture,Ethiopia,Q115,63.8365,mm,2019-08-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
740,Q115,TerraClimateSoilMoisture,soil_moisture,Soil Moisture,Ethiopia,Q115,61.4550,mm,2019-09-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
741,Q115,TerraClimateSoilMoisture,soil_moisture,Soil Moisture,Ethiopia,Q115,58.8073,mm,2019-10-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
742,Q115,TerraClimateSoilMoisture,soil_moisture,Soil Moisture,Ethiopia,Q115,47.3437,mm,2019-11-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
743,Q115,TerraClimateSoilMoisture,soil_moisture,Soil Moisture,Ethiopia,Q115,34.6145,mm,2019-12-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN

FAO_Locust_Swarms areaha

,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,...,stated_in_id,CTLPESTIC,REPRELIAB,BREEDING,CONFIRMATN,LOCPRESENT,LOCRELIAB,LOCNAME,EXACTDATE,stated in
0,FAO_Locust_Swarms,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1986-07-15T00:00:00Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,Malka,Yes,NaN
1,FAO_Locust_Swarms,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1986-07-15T00:00:00Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,Dalol,No,NaN
2,FAO_Locust_Swarms,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1986-07-15T00:00:00Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,NaN,No,NaN
3,FAO_Locust_Swarms,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1987-01-03T00:00:00Z,day,Ethiopia,...,NaN,NaN,2,2,2,1,Exact,Dara,No,NaN
4,FAO_Locust_Swarms,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1987-01-03T00:00:00Z,day,Ethiopia,...,NaN,NaN,2,2,2,1,Exact,Erer,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1736,FAO_Locust_Swarms,areaha,AREAHA,Ethiopia,Q115,1000.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,Somali region Fafan,No,NaN
1737,FAO_Locust_Swarms,areaha,AREAHA,Ethiopia,Q115,100.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,funyaab dimo kebele,No,NaN
1738,FAO_Locust_Swarms,areaha,AREAHA,Ethiopia,Q115,500.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,Gariro,No,NaN
1739,FAO_Locust_Swarms,areaha,AREAHA,Ethiopia,Q115,600.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,Ascoma,No,NaN
1740,FAO_Locust_Swarms,areaha,AREAHA,Ethiopia,Q115,600.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,tigrayendertaarato,No,NaN

FAO_Locust_Control areaha

,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,...,CTLPESTIC,REPRELIAB,BREEDING,CONFIRMATN,LOCPRESENT,LOCRELIAB,LOCNAME,PARTMONTH,EXACTDATE,stated in
0,FAO_Locust_Control,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1986-11-25T00:00:00Z,day,Ethiopia,...,NaN,1,2,1,1,Exact,Baja,Late,No,NaN
1,FAO_Locust_Control,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1987-06-10T00:00:00Z,day,Ethiopia,...,NaN,1,2,1,1,Exact,Agama,Early,No,NaN
2,FAO_Locust_Control,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1987-07-02T00:00:00Z,day,Ethiopia,...,NaN,1,2,1,1,Exact,Wag,Early,No,NaN
3,FAO_Locust_Control,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1987-07-02T00:00:00Z,day,Ethiopia,...,NaN,1,2,1,1,Exact,Ashenga,Early,No,NaN
4,FAO_Locust_Control,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1987-07-02T00:00:00Z,day,Ethiopia,...,NaN,1,2,1,1,Exact,ADIGRAT,Early,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2776,FAO_Locust_Control,areaha,AREAHA,Ethiopia,Q115,3106.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,1,2,1,1,Exact,Tigray RayaAzebo Haw,Middle,No,NaN
2777,FAO_Locust_Control,areaha,AREAHA,Ethiopia,Q115,2080.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,1,2,1,1,Exact,Tigrayraya azebo wor,Middle,No,NaN
2778,FAO_Locust_Control,areaha,AREAHA,Ethiopia,Q115,1500.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,1,2,1,1,Exact,Derersa,Middle,No,NaN
2779,FAO_Locust_Control,areaha,AREAHA,Ethiopia,Q115,600.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,1,2,1,1,Exact,Ascoma,Middle,No,NaN
2780,FAO_Locust_Control,areaha,AREAHA,Ethiopia,Q115,500.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,1,2,1,1,Exact,Gariro,Middle,No,NaN

FAO_Locust_Adults areaha

,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,...,stated_in_id,CTLPESTIC,REPRELIAB,BREEDING,CONFIRMATN,LOCPRESENT,LOCRELIAB,LOCNAME,EXACTDATE,stated in
0,FAO_Locust_Adults,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1986-07-15T00:00:00Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,MEKELE,Yes,NaN
1,FAO_Locust_Adults,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1986-07-15T00:00:00Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,NaN,No,NaN
2,FAO_Locust_Adults,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1986-07-15T00:00:00Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,NaN,No,NaN
3,FAO_Locust_Adults,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1986-07-25T00:00:00Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,Chercher,No,NaN
4,FAO_Locust_Adults,areaha,AREAHA,Ethiopia,Q115,0.0,NaN,1986-08-15T00:00:00Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,MEKELE,Yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,FAO_Locust_Adults,areaha,AREAHA,Ethiopia,Q115,900.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,Bati wered Gariro ke,No,NaN
995,FAO_Locust_Adults,areaha,AREAHA,Ethiopia,Q115,500.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,NaN,No,NaN
996,FAO_Locust_Adults,areaha,AREAHA,Ethiopia,Q115,700.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,Amhara Region bati,No,NaN
997,FAO_Locust_Adults,areaha,AREAHA,Ethiopia,Q115,300.0,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,kombolchaTula,No,NaN
998,FAO_Locust_Adults,areaha,AREAHA,Ethiopia,Q115,339.5,NaN,2020-10-15T21:59:59Z,day,Ethiopia,...,NaN,NaN,1,2,1,1,Exact,Alisharif village Ma,No,NaN

CHIRPS precipitation

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,country_id,admin1,admin2,admin3,region_coordinate,stated_in,stated_in_id,location,stated in
0,Q115,CHIRPS,precipitation,Precipitation,Ethiopia,Q115,0.0054,NaN,1981-01-01T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
1,Q115,CHIRPS,precipitation,Precipitation,Ethiopia,Q115,0.1382,NaN,1981-01-02T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
2,Q115,CHIRPS,precipitation,Precipitation,Ethiopia,Q115,0.0664,NaN,1981-01-03T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
3,Q115,CHIRPS,precipitation,Precipitation,Ethiopia,Q115,0.7890,NaN,1981-01-04T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
4,Q115,CHIRPS,precipitation,Precipitation,Ethiopia,Q115,0.6121,NaN,1981-01-05T00:00:00Z,day,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28909,Q202107,CHIRPS,precipitation,Precipitation,Oromia Region,Q202107,2.0977,NaN,2020-08-27T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
28910,Q202107,CHIRPS,precipitation,Precipitation,Oromia Region,Q202107,3.8154,NaN,2020-08-28T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
28911,Q202107,CHIRPS,precipitation,Precipitation,Oromia Region,Q202107,3.5280,NaN,2020-08-29T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
28912,Q202107,CHIRPS,precipitation,Precipitation,Oromia Region,Q202107,1.0133,NaN,2020-08-30T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
28913,Q202107,CHIRPS,precipitation,Precipitation,Oromia Region,Q202107,4.0515,NaN,2020-08-31T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN

FAOSTAT1 net_emissions_removals_co2

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,...,FileRows,FileSize,FileType,CompressionFormat,DateUpdate,Email,Contact,Topic,DatasetName,DatasetCode
0,Q115,FAOSTAT1,net_emissions_removals_co2,Emissions_Land_Use_Land_Use_Total_Net emission...,Burning Biomass,QFAOSTAT1-Burning_Biomass,11218.5307,gigagrams,1990-01-01T00:00:00Z,year,...,87311,498KB,csv,zip,2019-10-31,faostat@fao.org,Francesco Nicola Tubiello,"Agriculture, Forestry and Other Land Use, Gree...",Emissions - Land Use: Land Use Total,GL
1,Q115,FAOSTAT1,net_emissions_removals_co2,Emissions_Land_Use_Land_Use_Total_Net emission...,Burning Biomass,QFAOSTAT1-Burning_Biomass,11218.5307,gigagrams,1991-01-01T00:00:00Z,year,...,87311,498KB,csv,zip,2019-10-31,faostat@fao.org,Francesco Nicola Tubiello,"Agriculture, Forestry and Other Land Use, Gree...",Emissions - Land Use: Land Use Total,GL
2,Q115,FAOSTAT1,net_emissions_removals_co2,Emissions_Land_Use_Land_Use_Total_Net emission...,Burning Biomass,QFAOSTAT1-Burning_Biomass,11218.5307,gigagrams,1992-01-01T00:00:00Z,year,...,87311,498KB,csv,zip,2019-10-31,faostat@fao.org,Francesco Nicola Tubiello,"Agriculture, Forestry and Other Land Use, Gree...",Emissions - Land Use: Land Use Total,GL
3,Q115,FAOSTAT1,net_emissions_removals_co2,Emissions_Land_Use_Land_Use_Total_Net emission...,Burning Biomass,QFAOSTAT1-Burning_Biomass,11211.2720,gigagrams,1993-01-01T00:00:00Z,year,...,87311,498KB,csv,zip,2019-10-31,faostat@fao.org,Francesco Nicola Tubiello,"Agriculture, Forestry and Other Land Use, Gree...",Emissions - Land Use: Land Use Total,GL
4,Q115,FAOSTAT1,net_emissions_removals_co2,Emissions_Land_Use_Land_Use_Total_Net emission...,Burning Biomass,QFAOSTAT1-Burning_Biomass,11211.2720,gigagrams,1994-01-01T00:00:00Z,year,...,87311,498KB,csv,zip,2019-10-31,faostat@fao.org,Francesco Nicola Tubiello,"Agriculture, Forestry and Other Land Use, Gree...",Emissions - Land Use: Land Use Total,GL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Q115,FAOSTAT1,net_emissions_removals_co2,Emissions_Land_Use_Land_Use_Total_Net emission...,Land Use total,QFAOSTAT1-Land_Use_total,22194.2854,gigagrams,2013-01-01T00:00:00Z,year,...,87311,498KB,csv,zip,2019-10-31,faostat@fao.org,Francesco Nicola Tubiello,"Agriculture, Forestry and Other Land Use, Gree...",Emissions - Land Use: Land Use Total,GL
136,Q115,FAOSTAT1,net_emissions_removals_co2,Emissions_Land_Use_Land_Use_Total_Net emission...,Land Use total,QFAOSTAT1-Land_Use_total,13175.5881,gigagrams,2014-01-01T00:00:00Z,year,...,87311,498KB,csv,zip,2019-10-31,faostat@fao.org,Francesco Nicola Tubiello,"Agriculture, Forestry and Other Land Use, Gree...",Emissions - Land Use: Land Use Total,GL
137,Q115,FAOSTAT1,net_emissions_removals_co2,Emissions_Land_Use_Land_Use_Total_Net emission...,Land Use total,QFAOSTAT1-Land_Use_total,13424.1568,gigagrams,2015-01-01T00:00:00Z,year,...,87311,498KB,csv,zip,2019-10-31,faostat@fao.org,Francesco Nicola Tubiello,"Agriculture, Forestry and Other Land Use, Gree...",Emissions - Land Use: Land Use Total,GL
138,Q115,FAOSTAT1,net_emissions_removals_co2,Emissions_Land_Use_Land_Use_Total_Net emission...,Land Use total,QFAOSTAT1-Land_Use_total,17839.3969,gigagrams,2016-01-01T00:00:00Z,year,...,87311,498KB,csv,zip,2019-10-31,faostat@fao.org,Francesco Nicola Tubiello,"Agriculture, Forestry and Other Land Use, Gree...",Emissions - Land Use: Land Use Total,GL
139,Q115,FAOSTAT1,net_emissions_removals_co2,Emissions_Land_Use_Land_Use_Total_Net emission...,Land Use total,QFAOSTAT1-Land_Use_total,17839.3969,gigagrams,2017-01-01T00:00:00Z,year,...,87311,498KB,csv,zip,2019-10-31,faostat@fao.org,Francesco Nicola Tubiello,"Agriculture, Forestry and Other Land Use, Gree...",Emissions - Land Use: Land Use Total,GL

MERRA2 Re-analysis precipitation

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,country_id,admin1,admin2,admin3,region_coordinate,stated_in,stated_in_id,location,stated in
0,Q202107,MERRA2 Re-analysis,precipitation,Precipitation,Oromia Region,Q202107,0.0748,NaN,1981-01-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1,Q202107,MERRA2 Re-analysis,precipitation,Precipitation,Oromia Region,Q202107,0.0663,NaN,1981-01-02T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
2,Q202107,MERRA2 Re-analysis,precipitation,Precipitation,Oromia Region,Q202107,0.0731,NaN,1981-01-03T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
3,Q202107,MERRA2 Re-analysis,precipitation,Precipitation,Oromia Region,Q202107,0.1635,NaN,1981-01-04T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
4,Q202107,MERRA2 Re-analysis,precipitation,Precipitation,Oromia Region,Q202107,0.0294,NaN,1981-01-05T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14513,Q202107,MERRA2 Re-analysis,precipitation,Precipitation,Oromia Region,Q202107,0.9429,NaN,2020-09-26T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
14514,Q202107,MERRA2 Re-analysis,precipitation,Precipitation,Oromia Region,Q202107,1.0057,NaN,2020-09-27T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
14515,Q202107,MERRA2 Re-analysis,precipitation,Precipitation,Oromia Region,Q202107,0.3220,NaN,2020-09-28T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
14516,Q202107,MERRA2 Re-analysis,precipitation,Precipitation,Oromia Region,Q202107,0.4812,NaN,2020-09-29T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
14517,Q202107,MERRA2 Re-analysis,precipitation,Precipitation,Oromia Region,Q202107,4.3875,NaN,2020-09-30T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN

FAOSTAT0 value_local_currency

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,...,FileRows,FileSize,FileType,CompressionFormat,DateUpdate,Email,Contact,Topic,DatasetName,DatasetCode
0,Q115,FAOSTAT0,value_local_currency,Investment_CapitalStock_Value Local Currency,"Agriculture, forestry, fishing (Central Govern...",QFAOSTAT0-Agriculture__forestry__fishing__Cent...,549.600000,millions,2001-01-01T00:00:00Z,year,...,69686,729KB,csv,zip,2020-05-19,macrostats@fao.org,Mr. Conforti Piero/Mr. Vollaro Michele,"Agriculture, forestry and fishing (ISIC A+B Re...",Macro-Statistics: Capital Stock,CS
1,Q115,FAOSTAT0,value_local_currency,Investment_CapitalStock_Value Local Currency,"Agriculture, forestry, fishing (Central Govern...",QFAOSTAT0-Agriculture__forestry__fishing__Cent...,1094.000000,millions,2002-01-01T00:00:00Z,year,...,69686,729KB,csv,zip,2020-05-19,macrostats@fao.org,Mr. Conforti Piero/Mr. Vollaro Michele,"Agriculture, forestry and fishing (ISIC A+B Re...",Macro-Statistics: Capital Stock,CS
2,Q115,FAOSTAT0,value_local_currency,Investment_CapitalStock_Value Local Currency,"Agriculture, forestry, fishing (Central Govern...",QFAOSTAT0-Agriculture__forestry__fishing__Cent...,782.300000,millions,2003-01-01T00:00:00Z,year,...,69686,729KB,csv,zip,2020-05-19,macrostats@fao.org,Mr. Conforti Piero/Mr. Vollaro Michele,"Agriculture, forestry and fishing (ISIC A+B Re...",Macro-Statistics: Capital Stock,CS
3,Q115,FAOSTAT0,value_local_currency,Investment_CapitalStock_Value Local Currency,"Agriculture, forestry, fishing (Central Govern...",QFAOSTAT0-Agriculture__forestry__fishing__Cent...,943.500000,millions,2004-01-01T00:00:00Z,year,...,69686,729KB,csv,zip,2020-05-19,macrostats@fao.org,Mr. Conforti Piero/Mr. Vollaro Michele,"Agriculture, forestry and fishing (ISIC A+B Re...",Macro-Statistics: Capital Stock,CS
4,Q115,FAOSTAT0,value_local_currency,Investment_CapitalStock_Value Local Currency,"Agriculture, forestry, fishing (Central Govern...",QFAOSTAT0-Agriculture__forestry__fishing__Cent...,3485.200000,millions,2005-01-01T00:00:00Z,year,...,69686,729KB,csv,zip,2020-05-19,macrostats@fao.org,Mr. Conforti Piero/Mr. Vollaro Michele,"Agriculture, forestry and fishing (ISIC A+B Re...",Macro-Statistics: Capital Stock,CS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,Q115,FAOSTAT0,value_local_currency,Investment_CapitalStock_Value Local Currency,Value Added (Total Manufacturing),QFAOSTAT0-Value_Added__Total_Manufacturing_,42340.552217,millions,2014-01-01T00:00:00Z,year,...,69686,729KB,csv,zip,2020-05-19,macrostats@fao.org,Mr. Conforti Piero/Mr. Vollaro Michele,"Agriculture, forestry and fishing (ISIC A+B Re...",Macro-Statistics: Capital Stock,CS
434,Q115,FAOSTAT0,value_local_currency,Investment_CapitalStock_Value Local Currency,Value Added (Total Manufacturing),QFAOSTAT0-Value_Added__Total_Manufacturing_,57170.300000,millions,2015-01-01T00:00:00Z,year,...,69686,729KB,csv,zip,2020-05-19,macrostats@fao.org,Mr. Conforti Piero/Mr. Vollaro Michele,"Agriculture, forestry and fishing (ISIC A+B Re...",Macro-Statistics: Capital Stock,CS
435,Q115,FAOSTAT0,value_local_currency,Investment_CapitalStock_Value Local Currency,Value Added (Total Manufacturing),QFAOSTAT0-Value_Added__Total_Manufacturing_,89246.653685,millions,2016-01-01T00:00:00Z,year,...,69686,729KB,csv,zip,2020-05-19,macrostats@fao.org,Mr. Conforti Piero/Mr. Vollaro Michele,"Agriculture, forestry and fishing (ISIC A+B Re...",Macro-Statistics: Capital Stock,CS
436,Q115,FAOSTAT0,value_local_currency,Investment_CapitalStock_Value Local Currency,Value Added (Total Manufacturing),QFAOSTAT0-Value_Added__Total_Manufacturing_,113386.927803,millions,2017-01-01T00:00:00Z,year,...,69686,729KB,csv,zip,2020-05-19,macrostats@fao.org,Mr. Conforti Piero/Mr. Vollaro Michele,"Agriculture, forestry and fishing (ISIC A+B Re...",Macro-Statistics: Capital Stock,CS
437,Q115,FAOSTAT0,value_local_currency,Investment_CapitalStock_Value Local Currency,Value Added (Total Manufacturing),QFAOSTAT0-Value_Added__Total_Manufacturing_,128200.220546,millions,2018-01-01T00:00:00Z,year,...,69686,729KB,csv,zip,2020-05-19,macrostats@fao.org,Mr. Conforti Piero/Mr. Vollaro Michele,"Agriculture, forestry and fishing (ISIC A+B Re...",Macro-Statistics: Capital Stock,CS

ERA5 mean_temperature

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,country_id,admin1,admin2,admin3,region_coordinate,stated_in,stated_in_id,location,stated in
0,Q202107,ERA5,mean_temperature,Mean Temperature,Ethiopia,Q115,24.4038,NaN,1981-01-01T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
1,Q202107,ERA5,mean_temperature,Mean Temperature,Ethiopia,Q115,24.9779,NaN,1981-01-02T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
2,Q202107,ERA5,mean_temperature,Mean Temperature,Ethiopia,Q115,26.0296,NaN,1981-01-03T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
3,Q202107,ERA5,mean_temperature,Mean Temperature,Ethiopia,Q115,25.4547,NaN,1981-01-04T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
4,Q202107,ERA5,mean_temperature,Mean Temperature,Ethiopia,Q115,25.1799,NaN,1981-01-05T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14430,Q202107,ERA5,mean_temperature,Mean Temperature,Ethiopia,Q115,28.5595,NaN,2020-07-05T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
14431,Q202107,ERA5,mean_temperature,Mean Temperature,Ethiopia,Q115,31.1942,NaN,2020-07-06T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
14432,Q202107,ERA5,mean_temperature,Mean Temperature,Ethiopia,Q115,31.8064,NaN,2020-07-07T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
14433,Q202107,ERA5,mean_temperature,Mean Temperature,Ethiopia,Q115,31.9332,NaN,2020-07-08T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
14434,Q202107,ERA5,mean_temperature,Mean Temperature,Ethiopia,Q115,32.6181,NaN,2020-07-09T00:00:00Z,day,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN

IHME_Wasting_Data mean

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,...,admin2,admin3,region_coordinate,stated_in,stated_in_id,measure,sex,age_group_name,location,stated in
0,NaN,IHME_Wasting_Data,mean,mean,Ethiopia,Q115,0.098263,Percent,2000-01-01T00:00:00Z,year,...,NaN,NaN,NaN,NaN,NaN,Wasting prevalence,Both,Under 5,NaN,NaN
1,Q207635,IHME_Wasting_Data,mean,mean,Ethiopia,Q115,0.148977,Percent,2000-01-01T00:00:00Z,year,...,NaN,NaN,NaN,NaN,NaN,Wasting prevalence,Both,Under 5,Benishangul-Gumuz Region,NaN
2,Q3316357,IHME_Wasting_Data,mean,mean,Ethiopia,Q115,0.099533,Percent,2000-01-01T00:00:00Z,year,...,Misraqawi Zone,NaN,NaN,NaN,NaN,Wasting prevalence,Both,Under 5,Misraqawi Zone,NaN
3,Q1688972,IHME_Wasting_Data,mean,mean,Ethiopia,Q115,0.143358,Percent,2000-01-01T00:00:00Z,year,...,Jijiga Zone,NaN,NaN,NaN,NaN,Wasting prevalence,Both,Under 5,Jijiga Zone,NaN
4,Q6385564,IHME_Wasting_Data,mean,mean,Ethiopia,Q115,0.176535,Percent,2000-01-01T00:00:00Z,year,...,Kelem Welega Zone,NaN,NaN,NaN,NaN,Wasting prevalence,Both,Under 5,Kelem Welega Zone,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1615,Q2916380,IHME_Wasting_Data,mean,mean,Ethiopia,Q115,0.089703,Percent,2017-01-01T00:00:00Z,year,...,Semien Gondar Zone,NaN,NaN,NaN,NaN,Wasting prevalence,Both,Under 5,Semien Gondar Zone,NaN
1616,Q193494,IHME_Wasting_Data,mean,mean,Ethiopia,Q115,0.138253,Percent,2017-01-01T00:00:00Z,year,...,NaN,NaN,NaN,NaN,NaN,Wasting prevalence,Both,Under 5,Afar,NaN
1617,Q5248635,IHME_Wasting_Data,mean,mean,Ethiopia,Q115,0.069216,Percent,2017-01-01T00:00:00Z,year,...,Debub Mirab Shewa Zone,NaN,NaN,NaN,NaN,Wasting prevalence,Both,Under 5,Debub Mirab Shewa Zone,NaN
1618,Q3444707,IHME_Wasting_Data,mean,mean,Ethiopia,Q115,0.143686,Percent,2017-01-01T00:00:00Z,year,...,Fantena Rasu,NaN,NaN,NaN,NaN,Wasting prevalence,Both,Under 5,Fantena Rasu,NaN
1619,Q1070687,IHME_Wasting_Data,mean,mean,Ethiopia,Q115,0.102271,Percent,2017-01-01T00:00:00Z,year,...,Wag Hemra Zone,NaN,NaN,NaN,NaN,Wasting prevalence,Both,Under 5,Wag Hemra Zone,NaN

ACLED fatalities

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,...,assoc_actor_2,actor2,inter1,assoc_actor_1,actor1,sub_event_type,event_type,event_id_cnty,location,stated in
0,Q3094932,ACLED,fatalities,fatalities,Ethiopia,Q115,0.0,NaN,1997-01-15T00:00:00Z,NaN,...,NaN,NaN,2,NaN,SPLM/A: Sudan People\'s Liberation Movement/Army,Change to group/activity,Strategic developments,ETH1,Gambela Zuria,NaN
1,Q3094932,ACLED,fatalities,fatalities,Ethiopia,Q115,0.0,NaN,1997-01-15T00:00:00Z,NaN,...,NaN,NaN,2,NaN,SPLM/A: Sudan People\'s Liberation Movement/Army,Change to group/activity,Strategic developments,ETH1,Gambela Zuria,NaN
2,Q3094932,ACLED,fatalities,fatalities,Ethiopia,Q115,0.0,NaN,1997-01-15T00:00:00Z,NaN,...,NaN,NaN,2,NaN,SPLM/A: Sudan People\'s Liberation Movement/Army,Change to group/activity,Strategic developments,ETH1,Gambela Zuria,NaN
3,Q3021240,ACLED,fatalities,fatalities,Ethiopia,Q115,2.0,NaN,1997-02-10T00:00:00Z,NaN,...,Civilians (International),Civilians (Ethiopia),3,NaN,Unidentified Armed Group (Ethiopia),Grenade,Explosions/Remote violence,ETH2,Degehabur,NaN
4,Q3021240,ACLED,fatalities,fatalities,Ethiopia,Q115,2.0,NaN,1997-02-10T00:00:00Z,NaN,...,Civilians (International),Civilians (Ethiopia),3,NaN,Unidentified Armed Group (Ethiopia),Grenade,Explosions/Remote violence,ETH2,Degehabur,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16813,Q17094051,ACLED,fatalities,fatalities,Ethiopia,Q115,5.0,NaN,2020-11-07T00:00:00Z,NaN,...,Police Forces of Ethiopia (2018-) Amhara Regio...,Military Forces of Ethiopia (2018-),3,NaN,TPLF: Tigray Peoples Liberation Front,Armed clash,Battles,ETH5727,Mirab Armachiho,NaN
16814,Q17094051,ACLED,fatalities,fatalities,Ethiopia,Q115,5.0,NaN,2020-11-07T00:00:00Z,NaN,...,Police Forces of Ethiopia (2018-) Amhara Regio...,Military Forces of Ethiopia (2018-),3,NaN,TPLF: Tigray Peoples Liberation Front,Armed clash,Battles,ETH5727,Mirab Armachiho,NaN
16815,Q2824040,ACLED,fatalities,fatalities,Ethiopia,Q115,24.0,NaN,2020-11-07T00:00:00Z,NaN,...,NaN,OLF: Oromo Liberation Front (Shane Splinter Fa...,1,NaN,Military Forces of Ethiopia (2018-),Armed clash,Battles,ETH5728,Adama Zuria,NaN
16816,Q2824040,ACLED,fatalities,fatalities,Ethiopia,Q115,24.0,NaN,2020-11-07T00:00:00Z,NaN,...,NaN,OLF: Oromo Liberation Front (Shane Splinter Fa...,1,NaN,Military Forces of Ethiopia (2018-),Armed clash,Battles,ETH5728,Adama Zuria,NaN
16817,Q2824040,ACLED,fatalities,fatalities,Ethiopia,Q115,24.0,NaN,2020-11-07T00:00:00Z,NaN,...,NaN,OLF: Oromo Liberation Front (Shane Splinter Fa...,1,NaN,Military Forces of Ethiopia (2018-),Armed clash,Battles,ETH5728,Adama Zuria,NaN

DHS_Nutrition children_severely_stunted

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,country_id,admin1,admin2,admin3,region_coordinate,stated_in,stated_in_id,location,stated in
0,Q203009,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,35.3,NaN,2000-01-01T00:00:00Z,year,Ethiopia,Q115,Amhara Region,NaN,NaN,NaN,NaN,NaN,Amhara Region,NaN
1,Q193494,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,30.0,NaN,2000-01-01T00:00:00Z,year,Ethiopia,Q115,Afar,NaN,NaN,NaN,NaN,NaN,Afar,NaN
2,Q115,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,31.8,NaN,2000-01-01T00:00:00Z,year,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
3,Q200127,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,32.0,NaN,2000-01-01T00:00:00Z,year,Ethiopia,Q115,Tigray Region,NaN,NaN,NaN,NaN,NaN,Tigray Region,NaN
4,NaN,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,12.7,NaN,2000-01-01T00:00:00Z,year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Q3624,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,10.8,NaN,2000-01-01T00:00:00Z,year,Ethiopia,Q115,Addis Ababa,NaN,NaN,NaN,NaN,NaN,Addis Ababa,NaN
6,Q1033855,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,19.3,NaN,2000-01-01T00:00:00Z,year,Ethiopia,Q115,Harari Region,NaN,NaN,NaN,NaN,NaN,Harari Region,NaN
7,Q207638,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,23.0,NaN,2000-01-01T00:00:00Z,year,Ethiopia,Q115,Gambela Region,NaN,NaN,NaN,NaN,NaN,Gambela Region,NaN
8,Q203193,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,37.8,NaN,2000-01-01T00:00:00Z,year,Ethiopia,Q115,"Southern Nations, Nationalities, and Peoples' ...",NaN,NaN,NaN,NaN,NaN,"Southern Nations, Nationalities, and Peoples' ...",NaN
9,Q207635,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,22.3,NaN,2000-01-01T00:00:00Z,year,Ethiopia,Q115,Benishangul-Gumuz Region,NaN,NaN,NaN,NaN,NaN,Benishangul-Gumuz Region,NaN
10,Q202800,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,31.1,NaN,2000-01-01T00:00:00Z,year,Ethiopia,Q115,Somali Region,NaN,NaN,NaN,NaN,NaN,Somali Region,NaN
11,Q202107,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,27.8,NaN,2000-01-01T00:00:00Z,year,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
12,Q207638,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,18.1,NaN,2005-01-01T00:00:00Z,year,Ethiopia,Q115,Gambela Region,NaN,NaN,NaN,NaN,NaN,Gambela Region,NaN
13,Q115,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,28.1,NaN,2005-01-01T00:00:00Z,year,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
14,NaN,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,16.0,NaN,2005-01-01T00:00:00Z,year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Q3624,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,7.6,NaN,2005-01-01T00:00:00Z,year,Ethiopia,Q115,Addis Ababa,NaN,NaN,NaN,NaN,NaN,Addis Ababa,NaN
16,Q1033855,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,19.1,NaN,2005-01-01T00:00:00Z,year,Ethiopia,Q115,Harari Region,NaN,NaN,NaN,NaN,NaN,Harari Region,NaN
17,Q203193,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,32.0,NaN,2005-01-01T00:00:00Z,year,Ethiopia,Q115,"Southern Nations, Nationalities, and Peoples' ...",NaN,NaN,NaN,NaN,NaN,"Southern Nations, Nationalities, and Peoples' ...",NaN
18,Q207635,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,23.4,NaN,2005-01-01T00:00:00Z,year,Ethiopia,Q115,Benishangul-Gumuz Region,NaN,NaN,NaN,NaN,NaN,Benishangul-Gumuz Region,NaN
19,Q202800,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,30.9,NaN,2005-01-01T00:00:00Z,year,Ethiopia,Q115,Somali Region,NaN,NaN,NaN,NaN,NaN,Somali Region,NaN
20,Q202107,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,25.7,NaN,2005-01-01T00:00:00Z,year,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
21,Q203009,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,32.8,NaN,2005-01-01T00:00:00Z,year,Ethiopia,Q115,Amhara Region,NaN,NaN,NaN,NaN,NaN,Amhara Region,NaN
22,Q193494,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,23.0,NaN,2005-01-01T00:00:00Z,year,Ethiopia,Q115,Afar,NaN,NaN,NaN,NaN,NaN,Afar,NaN
23,Q200127,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,20.5,NaN,2005-01-01T00:00:00Z,year,Ethiopia,Q115,Tigray Region,NaN,NaN,NaN,NaN,NaN,Tigray Region,NaN
24,Q200127,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,22.4,NaN,2011-01-01T00:00:00Z,year,Ethiopia,Q115,Tigray Region,NaN,NaN,NaN,NaN,NaN,Tigray Region,NaN
25,NaN,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,18.3,NaN,2011-01-01T00:00:00Z,year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Q3624,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,5.9,NaN,2011-01-01T00:00:00Z,year,Ethiopia,Q115,Addis Ababa,NaN,NaN,NaN,NaN,NaN,Addis Ababa,NaN
27,Q1033855,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,12.6,NaN,2011-01-01T00:00:00Z,year,Ethiopia,Q115,Harari Region,NaN,NaN,NaN,NaN,NaN,Harari Region,NaN
28,Q207638,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,10.7,NaN,2011-01-01T00:00:00Z,year,Ethiopia,Q115,Gambela Region,NaN,NaN,NaN,NaN,NaN,Gambela Region,NaN
29,Q203193,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,22.9,NaN,2011-01-01T00:00:00Z,year,Ethiopia,Q115,"Southern Nations, Nationalities, and Peoples' ...",NaN,NaN,NaN,NaN,NaN,"Southern Nations, Nationalities, and Peoples' ...",NaN
30,Q115,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,20.6,NaN,2011-01-01T00:00:00Z,year,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
31,Q207635,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,27.0,NaN,2011-01-01T00:00:00Z,year,Ethiopia,Q115,Benishangul-Gumuz Region,NaN,NaN,NaN,NaN,NaN,Benishangul-Gumuz Region,NaN
32,Q202800,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,16.1,NaN,2011-01-01T00:00:00Z,year,Ethiopia,Q115,Somali Region,NaN,NaN,NaN,NaN,NaN,Somali Region,NaN
33,Q202107,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,18.1,NaN,2011-01-01T00:00:00Z,year,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
34,Q203009,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,24.2,NaN,2011-01-01T00:00:00Z,year,Ethiopia,Q115,Amhara Region,NaN,NaN,NaN,NaN,NaN,Amhara Region,NaN
35,Q193494,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,29.1,NaN,2011-01-01T00:00:00Z,year,Ethiopia,Q115,Afar,NaN,NaN,NaN,NaN,NaN,Afar,NaN
36,Q203009,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,19.6,NaN,2016-01-01T00:00:00Z,year,Ethiopia,Q115,Amhara Region,NaN,NaN,NaN,NaN,NaN,Amhara Region,NaN
37,Q200127,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,13.4,NaN,2016-01-01T00:00:00Z,year,Ethiopia,Q115,Tigray Region,NaN,NaN,NaN,NaN,NaN,Tigray Region,NaN
38,NaN,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,16.9,NaN,2016-01-01T00:00:00Z,year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Q115,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,17.6,NaN,2016-01-01T00:00:00Z,year,Ethiopia,Q115,NaN,NaN,NaN,POINT(40.0 9.0),NaN,NaN,Ethiopia,NaN
40,Q3624,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,3.1,NaN,2016-01-01T00:00:00Z,year,Ethiopia,Q115,Addis Ababa,NaN,NaN,NaN,NaN,NaN,Addis Ababa,NaN
41,Q1033855,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,12.6,NaN,2016-01-01T00:00:00Z,year,Ethiopia,Q115,Harari Region,NaN,NaN,NaN,NaN,NaN,Harari Region,NaN
42,Q207638,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,7.4,NaN,2016-01-01T00:00:00Z,year,Ethiopia,Q115,Gambela Region,NaN,NaN,NaN,NaN,NaN,Gambela Region,NaN
43,Q203193,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,20.2,NaN,2016-01-01T00:00:00Z,year,Ethiopia,Q115,"Southern Nations, Nationalities, and Peoples' ...",NaN,NaN,NaN,NaN,NaN,"Southern Nations, Nationalities, and Peoples' ...",NaN
44,Q207635,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,21.7,NaN,2016-01-01T00:00:00Z,year,Ethiopia,Q115,Benishangul-Gumuz Region,NaN,NaN,NaN,NaN,NaN,Benishangul-Gumuz Region,NaN
45,Q202800,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,12.8,NaN,2016-01-01T00:00:00Z,year,Ethiopia,Q115,Somali Region,NaN,NaN,NaN,NaN,NaN,Somali Region,NaN
46,Q202107,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,17.1,NaN,2016-01-01T00:00:00Z,year,Ethiopia,Q115,Oromia Region,NaN,NaN,NaN,NaN,NaN,Oromia Region,NaN
47,Q193494,DHS_Nutrition,children_severely_stunted,Children severely stunted,Ethiopia,Q115,22.3,NaN,2016-01-01T00:00:00Z,year,Ethiopia,Q115,Afar,NaN,NaN,NaN,NaN,NaN,Afar,NaN

Kimetrica_Ethiopia_Crop_Production number_of_holders

/home/ktyao/anaconda3/envs/datamart/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3338: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,...,admin2,admin3,region_coordinate,stated_in,stated_in_id,Category,Crop,Season,location,stated in
0,Q1033855,Kimetrica_Ethiopia_Crop_Production,number_of_holders,Number of holders,Harari Region,Q1033855,748.0,Number of people,2005-01-01T00:00:00Z,year,...,NaN,NaN,NaN,NaN,NaN,Cereals,Barley,Meher,Harari Region,NaN
1,Q1033855,Kimetrica_Ethiopia_Crop_Production,number_of_holders,Number of holders,Harari Region,Q1033855,40.0,Number of people,2005-01-01T00:00:00Z,year,...,NaN,NaN,NaN,NaN,NaN,Root Crops,Beetroot,Meher,Harari Region,NaN
2,Q1033855,Kimetrica_Ethiopia_Crop_Production,number_of_holders,Number of holders,Harari Region,Q1033855,40.0,Number of people,2005-01-01T00:00:00Z,year,...,NaN,NaN,NaN,NaN,NaN,Root Crops,Carrot,Meher,Harari Region,NaN
3,Q1033855,Kimetrica_Ethiopia_Crop_Production,number_of_holders,Number of holders,Harari Region,Q1033855,598.0,Number of people,2005-01-01T00:00:00Z,year,...,NaN,NaN,NaN,NaN,NaN,Fruit Crops,Lemons,Meher,Harari Region,NaN
4,Q1033855,Kimetrica_Ethiopia_Crop_Production,number_of_holders,Number of holders,Harari Region,Q1033855,13016.0,Number of people,2005-01-01T00:00:00Z,year,...,NaN,NaN,NaN,NaN,NaN,Chat,Chat,Meher,Harari Region,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36263,Q804883,Kimetrica_Ethiopia_Crop_Production,number_of_holders,Number of holders,Bale Zone,Q804883,22044.0,Number of people,2015-01-01T00:00:00Z,year,...,Bale Zone,NaN,NaN,NaN,NaN,Fruit Crops,Bananas,Meher,Bale Zone,NaN
36264,Q804883,Kimetrica_Ethiopia_Crop_Production,number_of_holders,Number of holders,Bale Zone,Q804883,46786.0,Number of people,2015-01-01T00:00:00Z,year,...,Bale Zone,NaN,NaN,NaN,NaN,Coffee,Coffee,Meher,Bale Zone,NaN
36265,Q804883,Kimetrica_Ethiopia_Crop_Production,number_of_holders,Number of holders,Bale Zone,Q804883,10854.0,Number of people,2015-01-01T00:00:00Z,year,...,Bale Zone,NaN,NaN,NaN,NaN,Hops,Hops,Meher,Bale Zone,NaN
36266,Q804883,Kimetrica_Ethiopia_Crop_Production,number_of_holders,Number of holders,Bale Zone,Q804883,10854.0,Number of people,2015-01-01T00:00:00Z,year,...,Bale Zone,NaN,NaN,NaN,NaN,Hops,Hops,Meher,Bale Zone,NaN
36267,Q804883,Kimetrica_Ethiopia_Crop_Production,number_of_holders,Number of holders,Bale Zone,Q804883,52469.0,Number of people,2015-01-01T00:00:00Z,year,...,Bale Zone,NaN,NaN,NaN,NaN,Cereals,Oats/\'Aja\',Meher,Bale Zone,NaN

ETH-CENSUS tot_pop

,location_id,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,country_id,admin1,admin2,admin3,region_coordinate,stated_in,stated_in_id,location,stated in
0,Q1249786,ETH-CENSUS,tot_pop,TOT_POP,Aura,Q1249786,34604.0,NaN,2007-01-01T00:00:00Z,year,Ethiopia,Q115,Afar,Fantena Rasu,Aura,NaN,NaN,NaN,Aura,NaN
1,Q1249786,ETH-CENSUS,tot_pop,TOT_POP,Aura,Q1249786,34604.0,NaN,2007-01-01T00:00:00Z,year,Ethiopia,Q115,Afar,Fantena Rasu,Aura,NaN,NaN,NaN,Aura,NaN
2,Q1268669,ETH-CENSUS,tot_pop,TOT_POP,Teru,Q1268669,67753.0,NaN,2007-01-01T00:00:00Z,year,Ethiopia,Q115,Afar,Fantena Rasu,Teru,NaN,NaN,NaN,Teru,NaN
3,Q1268669,ETH-CENSUS,tot_pop,TOT_POP,Teru,Q1268669,67753.0,NaN,2007-01-01T00:00:00Z,year,Ethiopia,Q115,Afar,Fantena Rasu,Teru,NaN,NaN,NaN,Teru,NaN
4,Q1324250,ETH-CENSUS,tot_pop,TOT_POP,Elekere,Q1324250,57735.0,NaN,2007-01-01T00:00:00Z,year,Ethiopia,Q115,Somali Region,Afder Zone,Elekere,NaN,NaN,NaN,Elekere,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,Q972313,ETH-CENSUS,tot_pop,TOT_POP,Habru,Q972313,192742.0,NaN,2007-01-01T00:00:00Z,year,Ethiopia,Q115,Amhara Region,Semien Wollo Zone,Habru,NaN,NaN,NaN,Habru,NaN
1468,Q973048,ETH-CENSUS,tot_pop,TOT_POP,Tenta,Q973048,166239.0,NaN,2007-01-01T00:00:00Z,year,Ethiopia,Q115,Amhara Region,Debub Wollo Zone,Tenta,NaN,NaN,NaN,Tenta,NaN
1469,Q973048,ETH-CENSUS,tot_pop,TOT_POP,Tenta,Q973048,166239.0,NaN,2007-01-01T00:00:00Z,year,Ethiopia,Q115,Amhara Region,Debub Wollo Zone,Tenta,NaN,NaN,NaN,Tenta,NaN
1470,Q974511,ETH-CENSUS,tot_pop,TOT_POP,Mesela,Q974511,151698.0,NaN,2007-01-01T00:00:00Z,year,Ethiopia,Q115,Oromia Region,Mirab Hararghe Zone,Mesela,NaN,NaN,NaN,Mesela,NaN
1471,Q974511,ETH-CENSUS,tot_pop,TOT_POP,Mesela,Q974511,151698.0,NaN,2007-01-01T00:00:00Z,year,Ethiopia,Q115,Oromia Region,Mirab Hararghe Zone,Mesela,NaN,NaN,NaN,Mesela,NaN

In [65]:
print('Datasets with missing variables:', missing_variables)

Datasets with missing variables: ['FAOSTAT']

In [66]:
print('Error getting csv data:', error_getting_data)

Error getting csv data: []

In [67]:
print('Zero length data:', zero_length_data)

Zero length data: [('ETH-CROP', 'total_area')]